<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns         = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        id            = "com.antovar.nnxnn"
        versionCode   = "1"
        version       = "1.0.0">

    <name>NNxNN</name>

    <description>
        Producto de nn x nn
    </description>

    <gap:platform name="android" />

    <preference name="phonegap-version"           value="2.9.0" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="orientation"                value="default" />

</widget>
